<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="footer-item">
                  <div class="footer-logo">
                      <a href="#"><img src="assets\style\img\logo.png" alt=""></a>
                  </div>
                  <p>“Remember that the happiest people are not those getting more, but those giving more.”</p>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="footer-item">
                  <h5>Newsletter</h5>
                  <div class="newslatter-form">
                      <input type="text" placeholder="Your Email Here">
                      <button type="submit">Subscribe</button>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="footer-item">
                  <h5>Contact Info</h5>
                  <ul>
                      <li><img src="assets\style\img\placeholder.png" alt="">VoGiaCu Team, Lô TT01, Mỹ Đình 2,<br />Hà Nội, VN</li>
                      <li><img src="assets\style\img\phone.png" alt="">+1 (603)535-4592</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">

                  <ul>
                      <li class="active"><a href="./index.html">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Rooms</a></li>
                      <li><a href="#">Facilities</a></li>
                      <li><a href="#">News</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
          </div>
<div class="row pt-5">
              <div class="col-lg-12 ">
                  <div class="small text-white text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">VoGiaCu Team</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
              </div>
          </div>

      </div>
  </div>
</footer>
<!-- Footer Section End -->
